@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.TipsTricks {
  max-width: 550px;
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #827254;

    button{
      font-size: 2rem;
      background-color: #3d2963;
      color: gold;
      border: none;
      padding: 5px 15px;
      border-radius: 5px;
      transition: color 0.3s ease, background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #d3386a;
        color: rgba(255, 255, 255, 1);
        transform: scale(1.1);
        transition: all .09s ease-out;
      }

    }
  }

  h1 {
    color: #827254;
    font-family: 'Roboto', sans-serif;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
  }

  .section p {
    color: #827254;
    font-family: 'Roboto', sans-serif;
  }
}